.CartWidget_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.CartWidget_img {
    max-width: 2rem;
}
.CartWidget_counter {
    font-size: 1.25rem;
    border: 2px solid white;
    border-radius: 1em;
    padding: 0.3rem 0.6rem;
}