.ItemListContainer_placeholder{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin: 4rem;
}

.ItemList {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.Item {
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Item img {
    height: 15rem;
    border-bottom: 1px solid #ffd8d3;
    margin-left: 50%;
    transform: translateX(-50%);
}

.Item button {
    width: 100%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color: rgb(212, 0, 46);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}