a, a:visited, a:active {
    text-decoration: none;
    color: white;
}

.NavBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(212, 0, 46);
    color: white;
}

.NavBar_logo {
    max-width: 10rem;
}

.NavBar_menu {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.NavBar_menu_item,
.NavBar_login {
    padding: 0.5rem 0.8rem;
}

.NavBar_menu_item:hover,
.NavBar_login:hover {
    cursor: pointer;
}

a.NavBar_accent, .NavBar_accent {
    background-color: white;
    color: rgba(0, 0, 0, 0.842);
    border-radius: 1em;
    font-weight: 500;
}