@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.App {
  position: relative;
  background-color: #FCE1DC;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
}